.c-button {
  padding: 10px;
  color: $color-white;
  background-color: $color-gray-30;
  cursor: pointer;
  border: 3px solid transparent;
  transition: border .25s ease-in-out;
  border-radius: 3px;
  &:hover {
    border: 3px solid $color-secondary;
  }
  &--flush {
    padding: 0;
  }
  &--tiny {
    padding: $inuit-global-spacing-unit-tiny;
  }
  &--small {
    padding: $inuit-global-spacing-unit-small;
  }
  &--large {
    padding: $inuit-global-spacing-unit-large;
  }

  &--huge {
    padding: $inuit-global-spacing-unit-huge;
  }

  &--success {
    background-color: $color-success;
  }
  &--error {
    background-color: $color-error;

  }
  &--warning {
    background-color: $color-warning;

  }
  &--info {
    background-color: $color-info;

  }
}
